<p-drawer
  [visible]="visible()"
  position="right"
  header="Filtros"
  [modal]="true"
  (onHide)="close()"
  styleClass="w-full md:w-10 lg:w-6"
>
    <div>
        <h3>Aplicar filtro</h3>
        <form [formGroup]="form">
            <p-fluid class="grid">
                <div class="col-12 md:col-4">
                    <p-select [options]="fields()" optionLabel="label" id="field" formControlName="field" (onChange)="onChangeField()" ></p-select>
                </div>
                <div class="col-12 md:col-3">
                    <p-select [options]="FilterOperatorOptions" optionLabel="name" optionValue="code" id="operator" formControlName="operator"></p-select>
                </div>
                <div class="col-12 md:col-4">
                    @if (selectedField) {
                        @switch (selectedField.type) {
                            @case (ColumnType.INTEGER) {
                                <p-inputnumber inputId="value" name="value" formControlName="value" required [showButtons]="true" />
                            }
                            @case (ColumnType.TEXT) {
                                <input type="text" pInputText required id="value" formControlName="value"/>
                            }
                            @case (ColumnType.DATE) {
                                <p-datepicker inputId="value"  name="value" formControlName="value" [showClear]="true" />
                            }
                            @case (ColumnType.DATETIME) {
                                <p-datepicker inputId="value"  name="value" formControlName="value" [showTime]="true" hourFormat="24" [showClear]="true" />
                            }
                            @case (ColumnType.TEXT) {
                                <input type="text" pInputText required id="value" formControlName="value"/>
                            }
                            @default {
                                <input type="text" pInputText required id="value" formControlName="value"/>
                            }
                        }
                    } @else {
                        <input type="text" pInputText required id="value" formControlName="value"/>
                    }
                </div>
                <div class="col-12 md:col-1">
                    <button pButton icon="pi pi-plus" (click)="applyFilter()"></button>
                </div>
            </p-fluid>
        </form>
    </div>
    <div>
        <h3>Filtros aplicados</h3>
        <div class="flex flex-column gap-1">
            @for (filter of appliedFilters(); track $index) {
                <div class="flex flex-row justify-content-between animation-duration-200 fadein">
                    <div class="flex flex-row gap-2 align-items-center">
                        <span>{{ filter.label }}</span>
                        <span>{{ filter.operatorLabel }}</span>
                        <p-tag [value]="formatFilterValue(filter)" />
                    </div>
                    <div>
                        <button
                            pButton
                            icon="pi pi-times"
                            severity="secondary"
                            text
                            (click)="removeFilter(filter)">
                        </button>
                    </div>
                </div>
                @if ($index + 1 < appliedFilters().length) {
                    <p-divider class="my-0" />
                }
            }
        </div>
    </div>
    <!-- Lógica de filtros já aplicados em filters como uma string -->

    <ng-template #footer>
        <div class="flex justify-content-end gap-2">
            <button pButton label="Limpar" (click)="clearFilters()" [text]="true" severity="secondary"></button>
            <button pButton label="Aplicar" (click)="applyFilters()"></button>
        </div>
    </ng-template>
</p-drawer>