<div class="flex flex-column animation-duration-300 fadein">
    <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
    <div class="flex flex-row justify-content-between align-items-end mt-5 mb-3">
        <h2 class="text-3xl m-0">{{ title() }}</h2>
        @if (!facade.loading() && facade.entity()?.updated_at) {
            <span class="text-color-secondary">Última alteração em: {{ facade.entity()?.updated_at | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
        }
    </div>
    <div class="bg-white border-round p-3">
        @if (!facade.loading()) {
            <form class="flex flex-column gap-5 animation-duration-300 fadein" [formGroup]="form" (ngSubmit)="onSubmit()">
                @if (facade.hasWarnings()) {
                    <div class="flex flex-column w-full">
                        @for (warning of facade.entityResponse()?.warnings; track $index) {
                            <p-message icon="pi pi-exclamation-triangle" severity="warn">{{ warning }}</p-message>
                        }
                    </div>
                }
                <p-fluid class="grid">
                    <div class="col-12">
                        <label htmlFor="name">Nome<span class="text-red-500 font-bold">*</span></label>
                        <input id="name" formControlName="name" pInputText required autofocus [invalid]="isInvalid('name')" />
                        @if (isInvalid('name')) {
                            @if (form.get('name')?.errors?.['required']) {
                                <p-message severity="error" size="small" variant="simple">Este campo é obrigatório.</p-message>
                            } @else if (form.get('name')?.errors?.['maxlength']) {
                                <p-message severity="error" size="small" variant="simple">Este campo deve ter no máximo {{ form.get('name')?.errors?.['maxlength'].requiredLength }} caracteres. Foram informados {{ form.get('name')?.value?.length }} caracteres.</p-message>
                            }
                        }
                    </div>
                    <div class="col-12">
                        <label htmlFor="description">Descrição</label>
                        <textarea rows="5" cols="30" id="description" pTextarea formControlName="description" [invalid]="isInvalid('description')"></textarea>
                        @if (isInvalid('description')) {
                            @if (form.get('description')?.errors?.['maxlength']) {
                                <p-message severity="error" size="small" variant="simple">Este campo deve ter no máximo {{ form.get('description')?.errors?.['maxlength'].requiredLength }} caracteres. Foram informados {{ form.get('description')?.value?.length }} caracteres.</p-message>
                            }
                        }
                    </div>
                    <div class="col-12">
                        <div class="flex justify-content-end gap-2">
                            <p-button label="Voltar" [outlined]="true" [disabled]="facade.loading()" (onClick)="facade.navigateBack(form)" />
                            <p-button label="Salvar" icon="pi pi-save" type="submit" [disabled]="form.disabled" [loading]="facade.saving()" />
                        </div>
                    </div>
                </p-fluid>
            </form>
        } @else {
            <div class="p-fluid p-formgrid grid mt-1">
                <div field class="field col-12 py-0">
                    <p-skeleton height="16px" width="25%" class="mb-2"></p-skeleton>
                    <p-skeleton width="100%" height="39px"></p-skeleton>
                </div>

                <div field class="field col-12 py-0">
                    <p-skeleton height="16px" width="25%" class="mb-2"></p-skeleton>
                    <p-skeleton width="100%" height="123px"></p-skeleton>
                </div>
                <div class="field col-12 flex justify-content-end mb-0 py-0 gap-2">
                    <p-skeleton width="80px" height="40px"></p-skeleton>
                    <p-skeleton width="80px" height="40px"></p-skeleton>
                </div>
            </div>
        }
    </div>
</div>