@if (isMobileScreen()) {
    <button pButton [text]="true" class="mobile-sidebar-trigger" (click)="openDrawer()">
        <span class="material-symbols-outlined font-light">
            menu
        </span>
    </button>
} @else {
    <aside class="sidebar bg-white h-full pt-4 transition-all transition-duration-300 ease-in-out" [class.expanded]="showSidebar()">
        <app-sidebar-content [menu]="menu" [logoType]="logoType()" buttonIcon="dock_to_right" [expanded]="showSidebar()" (action)="toggle()" />
    </aside>
}