:root {
    height: 100%;
}

#side-block {
    background-image: url('/images/login-page-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}