<div class="h-screen grid grid-nogutter">
    <div class="xl:col-4 md:col-6 col-12 flex flex-column gap-8 align-items-center xl:px-8 md:px-6 sm:px-8 px-4 py-6">
        <app-logo></app-logo>
        <div class="flex flex-column gap-8 mt-6">
            <div>
                <h1 class="my-2">Log In</h1>
                <p class="m-0">Entre com seu usuário e senha para acessar o sistema</p>
            </div>
            <form (ngSubmit)="onSubmit()" [formGroup]="form">
                <div class="grid mb-3">
                    <div class="col-12">
                        <p-floatlabel variant="on">
                            <input pInputText id="username" formControlName="username" autocomplete="off" fluid [ngClass]="{'ng-invalid ng-dirty' : form.get('username')?.invalid && form.get('username')?.touched}" />
                            <label for="username">Usuário</label>
                        </p-floatlabel>
                    </div>
                    <div class="col-12">
                        <p-floatlabel variant="on">
                            <p-password id="password" [feedback]="false" formControlName="password" [toggleMask]="true" autocomplete="off" fluid [ngClass]="{'ng-invalid ng-dirty' : form.get('password')?.invalid && form.get('password')?.touched}" />
                            <label for="password">Senha</label>
                        </p-floatlabel>
                    </div>
                    <div class="col-12">
                        <p-button type="submit" label="Log in" [loading]="isSubmitting()" fluid [disabled]="isSubmitting()" />
                    </div>
                </div>
                @if (hasError()) {
                    <p-message severity="error">{{ errorMessage() }}</p-message>
                }
            </form>
        </div>
    </div>
    <div class="md:block hidden xl:col-8 col-6 h-full border-round-left-2xl" id="side-block"></div>
</div>