<div class="flex gap-8 justify-content-center">
    <div class="flex flex-column gap-3 align-items-center justify-content-center">
        <div class="flex align-items-center">
            <div class="flex align-items-center justify-content-center w-10rem h-10rem border-solid border-gray-300 text-gray-300 bg-gray-50 border-circle" style="border-width: 4px;">
                <i class="pi pi-shield" style="font-size: 5rem"></i>
            </div>
        </div>
        <div class="flex flex-column text-center text-gray-300">
            <span class="font-bold line-height-1" style="font-size: 9rem;">403</span>
            <span class="mt-1 uppercase font-bold" style="letter-spacing: 0.1rem;">Acesso negado</span>
        </div>
    </div>
    <p-divider class="my-4" layout="vertical"/>
    <div class="flex flex-column gap-4 max-w-28rem">
        <div class="flex align-items-center gap-3">
            <div class="flex align-items-center justify-content-center border-circle bg-yellow-50 w-3rem" style="height: 2.5rem !important;">
                <i class="pi pi-lock text-yellow-600 text-base"></i>
            </div>
            <h2 class="text-xl font-bold text-gray-900 m-0">Você não tem permissão para acessar este recurso</h2>
        </div>
        <p class="text-gray-400 line-height-3">
            Seu perfil de acesso não possui as permissões necessárias para visualizar este recurso. Caso acredite que deveria ter acesso, entre em contato com o administrador do sistema para solicitar as devidas permissões.
        </p> 
        <p-message severity="warn" icon="pi pi-info-circle">
            <p class="m-0">403 Acesso negado</p>
            <p class="mt-1 text-sm font-normal">Acesso bloqueado por política de segurança. Sua sessão está ativa, mas sem privilégios suficientes.</p>
        </p-message>
        <div>
            <a routerLink="/" pButton icon="pi pi-home" class="no-underline">
                <span pButtonLabel>Ir para página inicial</span>
            </a>
        </div>
    </div>
</div>