/* Panel Menu */

.p-panelmenu-content > ul {
  padding: 0;
  margin: 0;
}

.p-panelmenu-panel {
  border: none !important;
}

.p-panelmenu-item {
    margin: 0.25rem 0;
}

.p-select-overlay,
.p-datepicker-panel,
.p-autocomplete-panel {
  z-index: 1000 !important;
}

/* Sidebar drawer */

.sidebar-drawer .p-drawer-content {
  padding: 0;
}